.footer { 
    background-color: $colour-footer;
    height: 200px;
    margin-top: 70px;

    p { 
        margin:  0;
    }

    a { 
        color: #fff;
    }

    &__container { 
        @extend %flex-row;
        justify-content: space-around;
    }
    
    &__logo  { 
        text-align: center;
        padding-top: 10px;
    }
    
    &__title {
        color: #fff;
        font-family: 'Shrikhand', cursive;
        font-size: 2em;
    }
    
    &__line { 
        @extend %flex-row;
        padding-top: 20px;
        i {
            margin-right: 20px;
            color: #fff;
        }
    
    }   
}

@media screen and(max-width: 768px) {
    footer {
        height: 220px;
    }
    .footer__title { 
        margin: 10px;
        text-align: start;
        padding-left: 20px;
        font-size: 1.5em;
    }
    .footer__container { 
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 20px;
    }

    .footer__line {
        padding-top: 10px;
    }
}