.footer { 
    background-color: $colour-footer;
    height: 220px;
    margin-top: 3rem;

    p { 
        margin:  0;
    }

    a { 
        color: #fff;
    }

    &__container { 
        @extend %flex-row;
        justify-content: space-around;
    }
    
    &__logo  { 
        text-align: center;
        padding-top: 0.5rem;
    }
    
    &__title {
        color: #fff;
        font-family: 'Shrikhand', cursive;
        font-size: 2em;
    }
    
    &__line { 
        @extend %flex-row;
        padding-top: 0.5rem;
        i {
            margin-right: 1rem;
            color: #fff;
        }
    
    }   
}

@media screen and(max-width: 768px) {
.footer {
    &__title { 
        margin: 1rem;
        text-align: start;
        font-size: 1.5em;
        padding: 0;
    }
    
    &__container { 
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 1.2rem;
    }
}
}