header { 
    background-color: #fff;
    .header__container {
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: space-around;
        padding-left: 10rem;
        padding-right: 10rem;
        box-shadow: $box-shadow;
        .header__logo {
            height: 40px;
        }
    }
    
    .header__location { 
        background-color: #eaeaea;
        width: 100%;
        height: 40px;
        padding-top: 20px;
        text-align: center;
        margin-top: 5px;
        .header__location i { 
            margin-right: 10px;
        }
    }   
}

