main { 
    max-width: 1200px;
    margin: auto;
}

.container__reservation  { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.container__fonctionnement { 
    background: #fff;
    height: 350px;
    margin-bottom: 80px;
}
.fonctionnement__title { 
    text-align: center;
    padding: 20px;
}

.fonctionnement__box__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fonctionnement__box { 
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    width: 15rem;
    height: 150px;
    padding-top: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: $box-shadow;
    cursor: pointer;
    transition: transform 300ms;
    &:hover { 
        transform: scale(1.10);
        background: linear-gradient($colour-secondary, $colour-primary);
        color: #fff;
        box-shadow: none;
    }

.number { 
    background-color: $colour-primary;
    color: #fff;
    width: 30px;
    border-radius: 50%;
    align-self: center;
    position: relative;
    bottom: 45px;
}
}

/* PARTIE RESTAURANTS */
.container__card { 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.container__card__title { 
    text-align: center;
    margin-bottom: 50px;
}
.card { 
    background: #fff;
    width: 45%;
    height: 360px;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: $box-shadow;
}

.card__img {
    height: 80%;
    & .restaurant-img { 
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

}

.card__infos {
    margin-left: 20px;
}

.card__infos h3, p { 
    margin: 10px 0px 10px 0px;
}

.heart:hover { 
    font-weight: bold;
    color: $colour-primary;
    /*color: linear-gradient(#FF79DA, #9356DC);*/
}

.card__heart { 
    float: right;
    position: relative;
    bottom: 50px;
    padding-right: 20px;
    font-size: 2vw;
}

