/*IMAGE PRINCIPALE*/
.top__image { 
    width: 100%;
}
.main-image { 
    object-fit: cover;
    width: 100%;
    height: 30rem;
    align-self: center;
    margin-bottom: 1rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.restaurant__title { 
    font-family: 'Shrikhand', cursive;
    font-size: 2.5rem;
    margin-right: 1rem;
    font-weight: normal;
}

.menus { 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: $colour-background-grey;

    .menus__main__title { 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        width: 100%;
    }   

    &__titles {
        font-weight: lighter;
        margin-top: 1rem;
    }

    &__border { 
        border-bottom: 3px solid $colour-tertiary;
        width: 40px;
        margin-bottom: 1rem;
        margin-top: 0.6rem;
        border-radius: 10%;
    }   
}

.menus__card {
    position: relative;
    top: 50px;
    background-color: #fff;
    width: 25rem;
    margin-bottom: 20px;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: $box-shadow;
    overflow: hidden;
    cursor: pointer;
    visibility: hidden;
    animation: apparition 1s ease forwards;
    & p { 
        margin-top: 0.6rem;
        margin-bottom: 0;
    }
    & p:first-child  {
        font-size: 1.1rem;
    }

    & .menus__description { 
        font-size: 1rem;
        font-weight: lighter;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:hover { 
        .card__check {
            display: inline-block;
        }
        .menus__price { 
            transition: 400ms;
            margin-right: 5rem;
        }
    }
    /* Pour que chaque enfant apparaisse un par un */
    &:nth-child(3) { 
        animation-delay: 0.1s;
    }
    &:nth-child(4) { 
        animation-delay: 0.2s;
    }
    &:nth-child(5) { 
        animation-delay: 0.3s;
    }
    &:nth-child(6) { 
        animation-delay: 0.4s;
    }
        /* Icones reservation pour les plats */
.card__check { 
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: $colour-tertiary;
    text-align: center;
    animation: validation  0.4s ease;
    transform-origin: right 50%;
    display: none; 
    &__icon { 
        animation: rotation 0.4s linear;
        position: relative;
        top: 20px;
        font-size: 2rem;
        color: #fff;
    }  
}

}

/* KEYFRAMES */
@keyframes apparition { 
    0% { 
        opacity: 0;
        visibility: hidden;
    }
    20% { 
        opacity: 0;
        visibility: visible;
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(-50px);
    }
}

@keyframes validation { 
    0% { 
        transform: scaleX(0);
    }
    100% { 
        transform: scaleX(1);
    }
}

@keyframes rotation { 
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0);
    }
}

/* Laptop L */ 

@media screen and (max-width: 1440px) {
    .menus { 
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

/* Tablettes et portables */ 

@media screen and (min-width: 878px) {
    .menus__container { 
        margin: 1.2rem 0 1.2rem 0;
        & .menus__titles { 
            text-align: center;
        }
        & .menus__border { 
            width: 100%;
            border-radius: 25%
        }
    }
}

@media screen and (max-width: 780px) {
    .main-image {
        height: 22rem;
    }
    .menus {
        flex-direction: column;
        position: relative;
        z-index: 1;
        margin-top: -6rem;
        border-radius: 50px;
        align-items: center;
    }
    .menus__container { 
        align-items: center;
        width: 90%;
        .menus__card { 
            display: inline-block;
            width: 100%;
            height: 70px;
            text-align: start;
            padding: 0;
            & .menus__text { 
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            & .menus__description { 
                font-size: 1rem;
            }
            & p { 
                padding: 0 0.5rem 0 0.5rem;
            }
        }
    }

    .menus__main__title { 
        font-size: 1.8rem;
    }
}

/* Mobile */ 

@media screen and (max-width: 500px) {

    .restaurant__title { 
        font-size: 7vw;
        margin-right: 2rem;
    }
    .menus__main__title { 
        justify-content: space-evenly;
    }
}