/*IMAGE PRINCIPALE*/
.top__image { 
    width: 100%;
}
.main-image { 
    object-fit: cover;
    width: 100%;
    height: 500px;
    align-self: center;
    margin-bottom: 20px;
}
.restaurant__title { 
    font-family: 'Shrikhand', cursive;
    font-size: 2.5rem;
    margin-right: 20px;
    font-weight: normal;
}

.menus { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $colour-background-grey;

    .menus__main__title { 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        width: 100%;
    }   

    &__titles {
        font-weight: lighter;
    }

    &__border { 
        border-bottom: 3px solid $colour-tertiary;
        width: 40px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 25%;
    }   
}

.menus__card {
    position: relative;
    background-color: #fff;
    width: 350px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: $box-shadow;
    overflow: hidden;
    cursor: pointer;
    visibility: hidden;
    animation: apparition 1.5s cubic-bezier(0,0,0,1) forwards;
    & p { 
        margin-top: 10px;
        margin-bottom: 0;
    }
    & p:first-child  {
        font-size: 1.1rem;
    }

    &__description { 
        font-size: 1rem;
        font-weight: lighter;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &:hover { 
        .card__check {
            display: inline-block;
        }
        .card__check__icon { 
            transform: rotate(-360deg);
        }
        .menus__price { 
            transition: 400ms;
            margin-right: 80px;
            margin-left: 10px;
        }
    }
    /* Pour que chaque enfant apparaisse un par un */
    &:nth-child(3) { 
        animation-delay: 0.1s;
    }
    &:nth-child(4) { 
        animation-delay: 0.2s;
    }
    &:nth-child(5) { 
        animation-delay: 0.3s;
    }
        /* Icones reservation pour les plats */
.card__check { 
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: $colour-tertiary;
    text-align: center;
    animation: validation  0.4s ease;
    transform-origin: right 50%;
    display: none; 
    &__icon { 
        animation: rotation 0.4s linear;
        position: relative;
        top: 20px;
        font-size: 2rem;
        color: #fff;
    }  
}

}

/* KEYFRAMES */
@keyframes apparition { 
    0% { 
        opacity: 0;
        visibility: hidden;
    }
    20% { 
        opacity: 0;
        visibility: visible;
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes validation { 
    0% { 
        transform: scaleX(0);
    }
    100% { 
        transform: scaleX(1);
    }
}

@keyframes rotation { 
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0);
    }
}

/* Laptop L */ 

@media screen and (max-width: 1440px) {
    .menus { 
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

/* Tablettes et portables */ 

@media screen and (max-width: 780px) {
    .menus {
        flex-direction: column;
        position: relative;
        z-index: 1;
        margin-top: -100px;
        border-radius: 50px;
        align-items: center;
    }
    .menus__container { 
        align-items: center;
        width: 90%;
        .menus__card { 
            display: inline-block;
            width: 100%;
            height: 70px;
            text-align: start;
            padding: 0;
            & .menus__text { 
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            & .menus__price { 
                justify-content: flex-end;
            }
            & .menus__description { 
                font-size: 1rem;
                font-weight: lighter;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            & p { 
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .menus__main__title { 
        font-size: 1.8rem;
    }
}

/* Mobile */ 

@media screen and (max-width: 500px) {

    .restaurant__title { 
        font-size: 7vw;
    }
}