@charset "UTF-8";
.box, .footer__line, .footer__container {
  display: flex;
  flex-direction: row;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #f6f6f6;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

/* Bouton page d'accueil partie réservation */
/* Façon 1 */
/*.btn {
    display: block;
    margin: auto;
    border-radius: 50px;
    border-style: none;
    background: $colour-gradient;
    box-shadow: $box-shadow;
    position: relative;
    width: 230px;
    height: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    z-index: 1;
    &:hover {
        cursor: pointer;
        &::after {
            opacity: 1;
        }
    }
    &::after { 
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(lighten($colour-secondary, 3%), lighten($colour-primary, 3%));
        box-shadow: $box-shadow-darker;
        border-radius: 50px;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}*/
/*Façon 2*/
/*.btn {
    border-radius: 50px;
    border-style: none;
    background: $colour-gradient;
    box-shadow: $box-shadow;
    position: relative;
    width: 230px;
    height: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    z-index: 1;
    &:hover { 
         .btn__bg { 
            opacity: 1;
        }
    }
    &__bg { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(lighten($colour-secondary, 3%), lighten($colour-primary, 3%));
        box-shadow: $box-shadow-darker;
        border-radius: 50px;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}*/
/*Façon 3*/
.btn {
  display: block;
  margin: auto;
  border-radius: 50px;
  border-style: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
  width: 230px;
  height: 50px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  transition: 300ms;
}
.btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.5);
}

.card__heart {
  float: right;
  position: relative;
  bottom: 50px;
  right: 30px;
  padding-right: 20px;
  font-size: 1.6rem;
}
.card__heart .heart {
  position: absolute;
}
.card__heart .heart2 {
  width: 35px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  visibility: hidden;
}
.card__heart:hover :first-child {
  visibility: hidden;
}
.card__heart:hover :nth-child(2) {
  visibility: visible;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: fill 1s;
  -webkit-animation: fill 1s;
  animation: fill linear 1s;
}

/* Pour le coeur dans les titres des pages restaurants */
.card__heart--menus {
  bottom: 15px;
  margin-left: 30px;
}

@keyframes fill {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #353535;
  z-index: 5;
  animation: fade-in 3s ease-out normal forwards;
}
.loader .loader__letters {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 50%;
}
.loader .loader__letters .letter {
  font-size: 3rem;
  font-family: "Shrikhand", cursive;
  animation: letters 0.8s linear 2;
}
.loader .loader__letters .letter.letter1 {
  color: #9356DC;
  animation-delay: 0.1s;
}
.loader .loader__letters .letter.letter2 {
  color: #FF79DA;
  animation-delay: 0.2s;
}
.loader .loader__letters .letter.letter3 {
  color: #99E2D0;
  animation-delay: 0.3s;
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
@keyframes letters {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
header {
  background-color: #fff;
}
header .header__container {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
}
header .header__container .header__logo {
  height: 2rem;
}
header .header__location {
  background-color: #eaeaea;
  width: 100%;
  height: 40px;
  padding-top: 20px;
  text-align: center;
  margin-top: 5px;
}
header .header__location i {
  margin-right: 10px;
}

/*POUR LES PAGES MENU*/
/*HEADER*/
.arrow {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  margin: 30px;
}

.footer {
  background-color: #353535;
  height: 200px;
  margin-top: 70px;
}
.footer p {
  margin: 0;
}
.footer a {
  color: #fff;
}
.footer__container {
  justify-content: space-around;
}
.footer__logo {
  text-align: center;
  padding-top: 10px;
}
.footer__title {
  color: #fff;
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}
.footer__line {
  padding-top: 20px;
}
.footer__line i {
  margin-right: 20px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 220px;
  }
  .footer__title {
    margin: 10px;
    text-align: start;
    padding-left: 20px;
    font-size: 1.5em;
  }
  .footer__container {
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
  }
  .footer__line {
    padding-top: 10px;
  }
}
main {
  max-width: 1200px;
  margin: auto;
}

.container__reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.container__reservation h1, .container__reservation p {
  text-align: center;
  margin: 10px;
}
.container__reservation h1 {
  margin: 20px 20px 10px 20px;
}
.container__reservation button {
  margin-top: 20px;
}

.container__fonctionnement {
  background: #fff;
  height: 350px;
  margin-bottom: 80px;
}
.container__fonctionnement__title {
  text-align: center;
  padding: 20px;
}

.box {
  justify-content: space-evenly;
}
.box__container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 15rem;
  height: 150px;
  padding-top: 30px;
  border-radius: 25px;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 300ms;
}
.box__container:hover {
  transform: scale(1.1);
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
}
.box__number {
  background-color: #9356DC;
  color: #fff;
  width: 30px;
  border-radius: 50%;
  align-self: center;
}
.box i {
  display: none;
  visibility: hidden;
}

/* Pour cacher les icônes */
@media screen and (min-width: 768px) {
  .box__icon {
    visibility: hidden;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container__fonctionnement {
    height: 500px;
  }
  .container__fonctionnement .box {
    flex-direction: column;
    align-items: center;
  }
  .container__fonctionnement .box__container {
    margin: 10px 10px 10px 20px;
    height: 80px;
    width: 90%;
    flex-direction: row;
    padding: 0;
    align-items: center;
  }
  .container__fonctionnement .box__container:hover {
    transform: scale(1);
    background: #f6f6f6;
    color: #000;
  }
  .container__fonctionnement .box__container:hover .box__icon {
    color: #9356DC;
  }
  .container__fonctionnement .box__number {
    margin-left: -15px;
  }
  .container__fonctionnement .box__icon {
    color: grey;
    margin: 15px;
    display: inline-block;
    visibility: visible;
  }
  .container__fonctionnement .box__text {
    margin: 15px;
  }
}
/* PARTIE RESTAURANTS */
.container__card {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.container__card__title {
  text-align: center;
  margin-bottom: 50px;
}

.card {
  background: #fff;
  width: 45%;
  height: 360px;
  border-radius: 15px;
  margin-bottom: 50px;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
  position: relative;
}
.card__img {
  height: 80%;
}
.card__img .restaurant-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card__infos {
  margin-left: 20px;
}
.card__infos h3, .card__infos p {
  margin: 10px 0px 10px 0px;
}
.card__new {
  width: 80px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  color: #32a588;
  background-color: #99E2D0;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

/* Pour Laptop L */
@media screen and (max-width: 1440px) {
  .container__card {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .container__card {
    flex-direction: column;
  }

  .card {
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  .container__fonctionnement__title {
    padding-left: 0;
  }

  .box__text {
    font-size: 5vw;
  }

  .card {
    width: 100%;
    height: 250px;
  }
  .card__img {
    height: 180px;
  }

  h2 {
    display: flex;
    padding-left: 20px;
  }
}
/*IMAGE PRINCIPALE*/
.top__image {
  width: 100%;
}

.main-image {
  object-fit: cover;
  width: 100%;
  height: 30rem;
  align-self: center;
  margin-bottom: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.restaurant__title {
  font-family: "Shrikhand", cursive;
  font-size: 2.5rem;
  margin-right: 20px;
  font-weight: normal;
}

.menus {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
}
.menus .menus__main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 100%;
}
.menus__titles {
  font-weight: lighter;
}
.menus__border {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 25%;
}

.menus__card {
  position: relative;
  top: 50px;
  background-color: #fff;
  width: 25rem;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  visibility: hidden;
  animation: apparition 1s ease forwards;
  /* Pour que chaque enfant apparaisse un par un */
  /* Icones reservation pour les plats */
}
.menus__card p {
  margin-top: 10px;
  margin-bottom: 0;
}
.menus__card p:first-child {
  font-size: 1.1rem;
}
.menus__card .menus__description {
  font-size: 1rem;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus__card:hover .card__check {
  display: inline-block;
}
.menus__card:hover .menus__price {
  transition: 400ms;
  margin-right: 80px;
}
.menus__card:nth-child(3) {
  animation-delay: 0.1s;
}
.menus__card:nth-child(4) {
  animation-delay: 0.2s;
}
.menus__card:nth-child(5) {
  animation-delay: 0.3s;
}
.menus__card:nth-child(6) {
  animation-delay: 0.4s;
}
.menus__card .card__check {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #99E2D0;
  text-align: center;
  animation: validation 0.4s ease;
  transform-origin: right 50%;
  display: none;
}
.menus__card .card__check__icon {
  animation: rotation 0.4s linear;
  position: relative;
  top: 20px;
  font-size: 2rem;
  color: #fff;
}

/* KEYFRAMES */
@keyframes apparition {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  20% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50px);
  }
}
@keyframes validation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
/* Laptop L */
@media screen and (max-width: 1440px) {
  .menus {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
/* Tablettes et portables */
@media screen and (min-width: 878px) {
  .menus__container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .menus__container .menus__titles {
    text-align: center;
  }
  .menus__container .menus__border {
    width: 100%;
    border-radius: 25%;
  }
}
@media screen and (max-width: 780px) {
  .main-image {
    height: 22rem;
  }

  .menus {
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-top: -100px;
    border-radius: 50px;
    align-items: center;
  }

  .menus__container {
    align-items: center;
    width: 90%;
  }
  .menus__container .menus__card {
    display: inline-block;
    width: 100%;
    height: 70px;
    text-align: start;
    padding: 0;
  }
  .menus__container .menus__card .menus__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menus__container .menus__card .menus__description {
    font-size: 1rem;
  }
  .menus__container .menus__card p {
    padding-left: 10px;
    padding-right: 10px;
  }

  .menus__main__title {
    font-size: 1.8rem;
  }
}
/* Mobile */
@media screen and (max-width: 500px) {
  .restaurant__title {
    font-size: 7vw;
    margin-right: 40px;
  }

  .menus__main__title {
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
