html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

.reservation__button {
  width: 230px;
  height: 60px;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-style: none;
  color: #fff;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: transform 300ms;
}
.reservation__button:hover {
  transform: scale(1.15);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.5);
}

header {
  background-color: #fff;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
}

.header__container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
}

.header__logo {
  height: 50px;
}

.header__location {
  background-color: #eaeaea;
  width: 200px;
  height: 40px;
  padding-top: 20px;
  text-align: center;
}

.header__location i {
  margin-right: 10px;
}

footer {
  background-color: #353535;
  height: 200px;
  margin-top: 70px;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__logo {
  text-align: center;
  padding-top: 10px;
}

.footer__title {
  color: #fff;
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}

.footer__line {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.footer__line i {
  margin-right: 20px;
  color: #fff;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
}

main {
  max-width: 1200px;
  margin: auto;
}

.container__reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.container__fonctionnement {
  background: #fff;
  height: 350px;
  margin-bottom: 80px;
}

.fonctionnement__title {
  text-align: center;
  padding: 20px;
}

.fonctionnement__box__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fonctionnement__box {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 15rem;
  height: 150px;
  padding-top: 30px;
  border-radius: 50px;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 300ms;
}
.fonctionnement__box:hover {
  transform: scale(1.1);
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  box-shadow: none;
}
.fonctionnement__box .number {
  background-color: #9356DC;
  color: #fff;
  width: 30px;
  border-radius: 50%;
  align-self: center;
  position: relative;
  bottom: 45px;
}

/* PARTIE RESTAURANTS */
.container__card {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.container__card__title {
  text-align: center;
  margin-bottom: 50px;
}

.card {
  background: #fff;
  width: 45%;
  height: 360px;
  border-radius: 15px;
  margin-bottom: 50px;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
}

.card-img img {
  height: 28vh;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card__infos {
  margin-left: 20px;
}

.card__infos h3, p {
  margin: 10px 0px 10px 0px;
}

.heart:hover {
  font-weight: bold;
  color: #9356DC;
  /*color: linear-gradient(#FF79DA, #9356DC);*/
}

.card__heart {
  float: right;
  position: relative;
  bottom: 50px;
  padding-right: 20px;
  font-size: 2vw;
}

/*# sourceMappingURL=style.css.map */
