/* Bouton page d'accueil partie réservation */
.reservation__button {
    width:230px;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient($colour-secondary, $colour-primary);
    border-style: none;
    color: #fff;
    box-shadow: $box-shadow;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    transition: transform 300ms;
    margin: auto;
    display: block;
    &:hover{
        transform: scale(1.15);
        background: linear-gradient(lighten($colour-secondary, 3%), lighten($colour-primary, 3%));
        box-shadow: $box-shadow-darker;
    }
}