.reservation__button {
    width:230px;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient($colour-secondary, $colour-primary);
    border-style: none;
    color: #fff;
    box-shadow: $box-shadow;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 300ms;
    &:hover{
        transform: scale(1.15);
        box-shadow: $box-shadow-darker;
    }
}